* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  min-width: 380px;
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.header-grid .logo {
  background: url("/assets/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 127px;
}

.header-grid .grid {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header-grid .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 8px;
}

.header-grid .flex object {
  width: 1rem;
  height: 1rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.header-grid .flex a {
  margin: 0 10px;
  margin-top: 0.625em;
  font-size: 9px;
  text-transform: uppercase;
  color: #333;
}

.burger-search-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12px 5px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 28px;
}

.burger-search-flex div:first-child {
  margin-right: 8px;
}

.burger-search-flex div:first-child a {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 9px;
}

.burger-search-flex div:first-child i {
  display: block;
}

.burger-search-flex div:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.burger-search-flex div:last-child .search-filled {
  border: 1px solid #777;
  border-radius: 3px;
}

.burger-search-flex div:last-child .search-filled input {
  display: inline-block;
  border: none;
  width: 91%;
  padding: 13px;
}

.burger-search-flex div:last-child .search-filled ::-webkit-input-placeholder {
  font-size: 12px;
}

.burger-search-flex div:last-child .search-filled :-ms-input-placeholder {
  font-size: 12px;
}

.burger-search-flex div:last-child .search-filled ::-ms-input-placeholder {
  font-size: 12px;
}

.burger-search-flex div:last-child .search-filled ::placeholder {
  font-size: 12px;
}

.burger-search-flex div:last-child .search-filled button {
  background: transparent;
  border: none;
}

.sticky-nav-menu {
  display: none;
}

.showcase {
  background: url("/assets/world_mobile.png") no-repeat center center/cover;
  height: 32vh;
  position: relative;
}

.showcase .text-bg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  padding: 16px;
  bottom: 0;
}

.showcase .text-bg h1,
.showcase .text-bg p {
  color: #fff;
  text-align: center;
}

.showcase .text-bg h1 {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 3px;
}

.showcase .text-bg p {
  line-height: 25px;
}

.showcase .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.showcase a {
  color: #46c8e1;
  text-transform: uppercase;
  padding: 8px;
  font-size: 16px;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.cards div {
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  height: 119px;
}

.cards img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards a {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.cards span {
  position: absolute;
  font-size: 17.6px;
  color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  width: 100%;
}

footer {
  background: #bbb;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container {
  padding: 0 10px;
}

footer .footer-container h3 {
  text-transform: uppercase;
  font-size: 12.8px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 5px;
}

footer .footer-container form {
  margin-bottom: 30px;
}

footer .footer-container form input {
  padding: 6px;
  font-size: 12px;
  float: left;
  width: 78%;
  border: 1px solid #414141;
}

footer .footer-container form input:focus {
  border: 1.5px solid #84a5dc;
}

footer .footer-container form button {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #414141;
  border: none;
  float: left;
  padding: 3.84px;
  height: 29px;
  cursor: pointer;
}

footer .footer-container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 16px;
  padding-bottom: 10px;
}

footer .footer-container .flex .fb-icon {
  background: url("/assets/fb.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .ig-icon {
  background: url("/assets/ig.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .yt-icon {
  background: url("/assets/yt.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .twitter-icon {
  background: url("/assets/twitter.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .flickr-icon {
  background: url("/assets/flickr.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .rss-icon {
  background: url("/assets/rss.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .fb-icon:hover {
  background: url("/assets/fb-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .ig-icon:hover {
  background: url("/assets/ig-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .yt-icon:hover {
  background: url("/assets/yt-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .twitter-icon:hover {
  background: url("/assets/twitter-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .flickr-icon:hover {
  background: url("/assets/flickr-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .rss-icon:hover {
  background: url("/assets/rss-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .country-region h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .footer-container .country-region img {
  padding: 2px;
  position: absolute;
  z-index: 1;
  height: 32px;
}

footer .footer-container .country-region select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #888;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #222;
}

footer .footer-container .country-region select select::-ms-expand {
  display: none;
}

footer .footer-container .country-region .select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 33px;
  padding: 6px;
  background: #888;
  overflow: hidden;
  padding-left: 55px;
  border: 1px solid #000;
}

footer .footer-container .country-region .select-box::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 15px;
  background: #424242;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  color: #fff;
  font-size: 12px;
}

footer .footer-container .country-region option {
  width: 100%;
  background: #fff;
}

footer .dropdown-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

footer .dropdown-flex img {
  position: relative;
}

footer .dropdown-flex span {
  position: absolute;
  text-transform: uppercase;
  font-size: 12.8px;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 3px;
}

footer .dropdown-flex .dropdown {
  border-top: 1px solid #000;
  padding: 15px 20px;
  cursor: pointer;
}

footer .dropdown-flex .dropdown-content {
  display: none;
}

footer .dropdown-flex .dropdown-content .dropdown-content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 25px 0;
}

footer .dropdown-flex .dropdown-content a {
  color: #373737;
  text-transform: capitalize;
  font-size: 12.8px;
  padding-bottom: 5px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

footer .dropdown-flex .dropdown-content a:hover {
  text-decoration: underline;
}

footer .all-rights-reserved-flex {
  font-size: 11.2px;
  color: #373737;
  border-top: 1px solid #000;
  padding: 10px 21px 168px;
}

footer .all-rights-reserved-flex .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 8px;
}

footer .all-rights-reserved-flex a {
  color: #373737;
  margin: 0 13px 8px 0;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */