* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  min-width: 380px;
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 46.875em) {
  .header-grid {
    display: none;
  }
}

.header-grid .logo {
  background: url("/assets/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  max-width: 127px;
}

.header-grid .grid {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  -ms-grid-column-align: end;
      justify-self: end;
}

.header-grid .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 8px;
}

.header-grid .flex object {
  width: 1rem;
  height: 1rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.header-grid .flex a {
  margin: 0 10px;
  margin-top: 0.625em;
  font-size: 9px;
  text-transform: uppercase;
  color: #333;
}

.header-grid-750px {
  display: none;
}

@media screen and (min-width: 46.875em) {
  .header-grid-750px {
    display: block;
    padding-bottom: 10px;
  }
  .header-grid-750px .header-grid-750px-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 65px 127px 308px 1fr;
        grid-template-columns: 65px 127px 308px 1fr;
  }
  .header-grid-750px .header-grid-750px-grid div:first-child {
    margin-right: 8px;
    margin-left: 8px;
    place-self: center;
  }
  .header-grid-750px .header-grid-750px-grid div:first-child i {
    display: block;
  }
  .header-grid-750px .header-grid-750px-grid div:first-child a {
    color: #000;
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
  }
  .header-grid-750px .header-grid-750px-grid .logo {
    background: url("/assets/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 127px;
    width: 100%;
  }
  .header-grid-750px .header-grid-750px-grid .search-filled {
    border: 1px solid #777;
    border-radius: 3px;
  }
  .header-grid-750px .header-grid-750px-grid .search-filled input {
    display: inline-block;
    border: none;
    width: 91%;
    padding: 13px;
  }
  .header-grid-750px .header-grid-750px-grid .search-filled ::-webkit-input-placeholder {
    font-size: 12px;
  }
  .header-grid-750px .header-grid-750px-grid .search-filled :-ms-input-placeholder {
    font-size: 12px;
  }
  .header-grid-750px .header-grid-750px-grid .search-filled ::-ms-input-placeholder {
    font-size: 12px;
  }
  .header-grid-750px .header-grid-750px-grid .search-filled ::placeholder {
    font-size: 12px;
  }
  .header-grid-750px .header-grid-750px-grid .search-filled button {
    background: transparent;
    border: none;
  }
  .header-grid-750px .header-grid-750px-grid .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 8px;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5 / span 2;
    place-self: end;
  }
  .header-grid-750px .header-grid-750px-grid .flex object {
    width: 1rem;
    height: 1rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
  .header-grid-750px .header-grid-750px-grid .flex a {
    margin: 0 10px;
    margin-top: 0.625em;
    font-size: 9px;
    text-transform: uppercase;
    color: #333;
    margin-right: 35px;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown {
    position: relative;
    display: inline-block;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 96.4vw;
    left: -13px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-top: 11px;
    z-index: 2;
  }
}

@media screen and (min-width: 46.875em) and (min-width: 46.875em) {
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content {
    min-width: 48.2vw;
    display: none;
  }
}

@media screen and (min-width: 46.875em) {
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content div {
    border-bottom: 1px solid #fff;
    cursor: pointer;
    margin: 0;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    margin-left: 0;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .flex a {
    margin: 0;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .fa-plus,
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .fa-minus,
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .fa-chevron-right {
    color: #fff;
    margin-right: 15px;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .fa-minus {
    display: none;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .pc-tablets-dropdown {
    margin-right: 0;
    margin-left: 0;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .lenovopro-dropdown {
    border-bottom: none;
    background: #666;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .lenovopro-dropdown a {
    padding: 0 17px;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .lenovopro-dropdown object {
    width: 100px;
    height: 48px;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden {
    display: none;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-bottom: 1px solid #000;
    padding-left: 20px;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .uppercase {
    text-transform: uppercase;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content a {
    font-size: 14.6px;
    font-weight: bold;
    padding: 17px;
    padding-left: 5px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: left;
    text-transform: capitalize;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.7);
    padding-right: auto;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .fa-chevron-right {
    color: rgba(0, 0, 0, 0.7);
    margin-right: 10px;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content div:hover .memorial-day {
    color: #ff0000 !important;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .memorial-day {
    color: #ff0000;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .nav-menu-icon-primary,
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .nav-menu-icon-secondary {
    height: 22.75px;
    width: 22.75px;
    margin-right: 0.5em;
  }
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content a,
  .header-grid-750px .header-grid-750px-grid .burger-dropdown .burger-dropdown-content button {
    font-size: 16px;
    font-weight: bold;
    padding: 17px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-transform: uppercase;
    font-weight: normal;
    color: #fff;
  }
}

@media screen and (min-width: 73.75em) {
  .header-grid-750px {
    display: none;
  }
}

.header-grid-1180px {
  display: none;
}

.header-grid-1180px .dropdown-content {
  display: none;
}

@media screen and (min-width: 73.75em) {
  .header-grid-1180px {
    display: block;
  }
  .header-grid-1180px .header-grid-1180px-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 127px 500px 21% 1fr 1fr;
        grid-template-columns: 127px 500px 21% 1fr 1fr;
    position: relative;
  }
}

@media screen and (min-width: 73.75em) and (min-width: 1480px) {
  .header-grid-1180px .header-grid-1180px-grid {
    -ms-grid-columns: 127px 700px 1fr 1fr 1fr;
        grid-template-columns: 127px 700px 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 73.75em) {
  .header-grid-1180px .logo {
    background: url("/assets/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 127px;
    width: 100%;
  }
  .header-grid-1180px .nav-menu-flex-1180px {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-grid-1180px .nav-menu-flex-1180px a {
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-right: 25px;
  }
  .header-grid-1180px .nav-menu-flex-1180px .pc-tablets-dropdown,
  .header-grid-1180px .nav-menu-flex-1180px .data-center-dropdown,
  .header-grid-1180px .nav-menu-flex-1180px .smart-devices-dropdown,
  .header-grid-1180px .nav-menu-flex-1180px .services-dropdown,
  .header-grid-1180px .nav-menu-flex-1180px .about-lenovo-dropdown {
    display: inline-block;
  }
  .header-grid-1180px .nav-menu-flex-1180px .pc-tablets-dropdown button,
  .header-grid-1180px .nav-menu-flex-1180px .data-center-dropdown button,
  .header-grid-1180px .nav-menu-flex-1180px .smart-devices-dropdown button,
  .header-grid-1180px .nav-menu-flex-1180px .services-dropdown button,
  .header-grid-1180px .nav-menu-flex-1180px .about-lenovo-dropdown button {
    padding: 16px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    cursor: pointer;
  }
  .header-grid-1180px .nav-menu-flex-1180px .pc-tablets-dropdown button:hover,
  .header-grid-1180px .nav-menu-flex-1180px .data-center-dropdown button:hover,
  .header-grid-1180px .nav-menu-flex-1180px .smart-devices-dropdown button:hover,
  .header-grid-1180px .nav-menu-flex-1180px .services-dropdown button:hover,
  .header-grid-1180px .nav-menu-flex-1180px .about-lenovo-dropdown button:hover {
    background: #efefef;
    color: #4ac0e0;
  }
  .header-grid-1180px .nav-menu-flex-1180px .phones-btn {
    padding: 15px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    cursor: pointer;
  }
  .header-grid-1180px .nav-menu-flex-1180px .phones-btn:hover {
    background: #efefef;
    color: #4ac0e0;
  }
  .header-grid-1180px .nav-menu-flex-1180px .pc-tablets-dropdown:hover .nav-menu-content-hidden,
  .header-grid-1180px .nav-menu-flex-1180px .data-center-dropdown:hover .nav-menu-content-hidden,
  .header-grid-1180px .nav-menu-flex-1180px .smart-devices-dropdown:hover .nav-menu-content-hidden,
  .header-grid-1180px .nav-menu-flex-1180px .services-dropdown:hover .nav-menu-content-hidden,
  .header-grid-1180px .nav-menu-flex-1180px .about-lenovo-dropdown:hover .nav-menu-content-hidden {
    display: block;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-content-hidden {
    display: none;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #efefef;
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 20px 16px;
    z-index: 2;
    overflow: hidden;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content div:hover a {
    color: #4ac0e0;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content div:hover .memorial-day {
    color: #ff0000 !important;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content .nav-menu-icon-primary,
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content .nav-menu-icon-secondary {
    height: 22.75px;
    width: 22.75px;
    margin-right: 0.5em;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content .nav-menu-icon-secondary {
    display: none;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content div:hover .nav-menu-icon-primary {
    display: none;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content div:hover .nav-menu-icon-secondary {
    display: block;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content a {
    font-size: 13px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-transform: capitalize;
    font-weight: normal;
    margin-right: 2.5em;
    color: #373737;
  }
  .header-grid-1180px .nav-menu-flex-1180px .nav-menu-dropdown-content .memorial-day {
    color: #ff0000;
  }
  .header-grid-1180px .nav-menu-flex-1180px .services-dropdown,
  .header-grid-1180px .nav-menu-flex-1180px .about-lenovo-dropdown {
    display: none;
  }
}

@media screen and (min-width: 73.75em) and (min-width: 1480px) {
  .header-grid-1180px .nav-menu-flex-1180px .services-dropdown,
  .header-grid-1180px .nav-menu-flex-1180px .about-lenovo-dropdown {
    display: block;
  }
}

@media screen and (min-width: 73.75em) {
  .header-grid-1180px .search-filled-gridItem {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .header-grid-1180px .search-filled-gridItem .search-filled {
    border: 1px solid #777;
    border-top: none;
    border-radius: 7px;
  }
  .header-grid-1180px .search-filled-gridItem .search-filled input {
    display: inline-block;
    border: none;
    width: 91%;
    padding: 13px;
  }
  .header-grid-1180px .search-filled-gridItem .search-filled ::-webkit-input-placeholder {
    font-size: 12px;
  }
  .header-grid-1180px .search-filled-gridItem .search-filled :-ms-input-placeholder {
    font-size: 12px;
  }
  .header-grid-1180px .search-filled-gridItem .search-filled ::-ms-input-placeholder {
    font-size: 12px;
  }
  .header-grid-1180px .search-filled-gridItem .search-filled ::placeholder {
    font-size: 12px;
  }
  .header-grid-1180px .search-filled-gridItem .search-filled button {
    background: transparent;
    border: none;
  }
  .header-grid-1180px .lenovopro-dropdown {
    place-self: center;
    -ms-grid-column: 4;
    grid-column: 4;
    position: relative;
    display: inline-block;
  }
  .header-grid-1180px .lenovopro-dropdown:hover .lenovopro-dropdown-content {
    display: block;
  }
  .header-grid-1180px .lenovopro-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 205px;
    padding: 10px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    border-radius: 7px;
    z-index: 6;
  }
  .header-grid-1180px .lenovopro-dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
  }
  .header-grid-1180px .lenovopro-dropdown-content a:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .header-grid-1180px .lenovopro-dropdown-content .fa-chevron-right {
    display: none;
  }
  .header-grid-1180px .lenovopro-dropdown-content .with-chevron-icon:hover {
    color: #87ceeb;
    display: inline-block;
  }
  .header-grid-1180px .lenovopro-dropdown-content .with-chevron-icon:hover .fa-chevron-right {
    display: block;
    color: #87ceeb;
    display: inline-block;
    font-size: 12px;
  }
  .header-grid-1180px .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 8px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column: 5;
    grid-column: 5;
  }
  .header-grid-1180px .flex .contact-dropdown {
    display: inline-block;
    position: relative;
  }
  .header-grid-1180px .flex .contact-dropdown:hover .contact-dropdown-content {
    display: block;
  }
  .header-grid-1180px .flex .contact-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 260px;
    padding: 15px 17.5px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    border-radius: 7px;
    z-index: 6;
    right: 0;
  }
  .header-grid-1180px .flex .contact-dropdown-content div .business-order-no:hover {
    color: #87ceeb;
  }
  .header-grid-1180px .flex .contact-dropdown-content div .existing-order-no:hover {
    color: #87ceeb;
  }
  .header-grid-1180px .flex .contact-dropdown-content p {
    text-transform: uppercase;
    padding: 3px 0;
    font-size: 13px;
    color: #333;
  }
  .header-grid-1180px .flex .contact-dropdown-content .place-order,
  .header-grid-1180px .flex .contact-dropdown-content .business-order,
  .header-grid-1180px .flex .contact-dropdown-content .existing-order {
    padding: 3px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 13px;
    color: #333;
  }
  .header-grid-1180px .flex .contact-dropdown-content .business-order,
  .header-grid-1180px .flex .contact-dropdown-content .existing-order {
    margin-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .header-grid-1180px .flex .contact-dropdown-content .existing-order a {
    margin-bottom: 10px !important;
  }
  .header-grid-1180px .flex .contact-dropdown-content a {
    padding: 3px 0;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 13px;
  }
  .header-grid-1180px .flex .contact-dropdown-content a:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .header-grid-1180px .flex .contact-dropdown-content .faqs,
  .header-grid-1180px .flex .contact-dropdown-content .chat {
    color: #217c96;
    font-weight: bold;
    padding: 10px 0;
  }
  .header-grid-1180px .flex .contact-dropdown-content .faqs {
    margin-top: 8px;
  }
  .header-grid-1180px .flex .contact-dropdown-content .chat {
    color: #217c96;
    font-weight: bold;
    padding-bottom: 0px;
  }
  .header-grid-1180px .flex object {
    width: 1rem;
    height: 1rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
  .header-grid-1180px .account-dropdown {
    place-self: center;
    -ms-grid-column: 4;
    grid-column: 4;
    position: relative;
    display: inline-block;
  }
  .header-grid-1180px .account-dropdown:hover .account-dropdown-content {
    display: block;
  }
  .header-grid-1180px .account-dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 205px;
    padding: 10px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    border-radius: 7px;
    z-index: 6;
    right: 0;
  }
  .header-grid-1180px .account-dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
  }
  .header-grid-1180px .account-dropdown-content a:first-child,
  .header-grid-1180px .account-dropdown-content a:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  .header-grid-1180px .account-dropdown-content .fa-chevron-right {
    display: none;
  }
  .header-grid-1180px .account-dropdown-content .with-chevron-icon:hover {
    color: #87ceeb;
  }
  .header-grid-1180px .account-dropdown-content .with-chevron-icon:hover .fa-chevron-right {
    display: block;
    color: #87ceeb;
    display: inline-block;
    font-size: 12px;
  }
}

.burger-search-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12px 5px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 28px;
}

@media screen and (min-width: 46.875em) {
  .burger-search-flex {
    display: none;
  }
}

.burger-search-flex div:first-child {
  margin-right: 8px;
}

.burger-search-flex div:first-child a {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 9px;
}

.burger-search-flex div:first-child i {
  display: block;
}

.burger-search-flex div:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.burger-search-flex div:last-child .search-filled {
  border: 1px solid #777;
  border-radius: 3px;
}

@media screen and (min-width: 500px) {
  .burger-search-flex div:last-child .search-filled {
    width: 75%;
  }
}

.burger-search-flex div:last-child .search-filled input {
  display: inline-block;
  border: none;
  width: 91%;
  padding: 13px;
}

.burger-search-flex div:last-child .search-filled ::-webkit-input-placeholder {
  font-size: 12px;
}

.burger-search-flex div:last-child .search-filled :-ms-input-placeholder {
  font-size: 12px;
}

.burger-search-flex div:last-child .search-filled ::-ms-input-placeholder {
  font-size: 12px;
}

.burger-search-flex div:last-child .search-filled ::placeholder {
  font-size: 12px;
}

.burger-search-flex div:last-child .search-filled button {
  background: transparent;
  border: none;
}

.burger-search-flex .burger-dropdown {
  position: relative;
  display: inline-block;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  min-width: 96.4vw;
  left: -10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 1px;
  z-index: 2;
}

@media screen and (min-width: 46.875em) {
  .burger-search-flex .burger-dropdown .burger-dropdown-content {
    min-width: 48.2vw;
    display: block !important;
  }
}

.burger-search-flex .burger-dropdown .burger-dropdown-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .fa-plus,
.burger-search-flex .burger-dropdown .burger-dropdown-content .fa-minus,
.burger-search-flex .burger-dropdown .burger-dropdown-content .fa-chevron-right {
  color: #fff;
  margin-right: 10px;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .fa-minus {
  display: none;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .pc-tablets-dropdown {
  margin-right: 0;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .lenovopro-dropdown {
  border-bottom: none;
  background: #666;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .lenovopro-dropdown a {
  padding: 0 17px;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .lenovopro-dropdown object {
  width: 100px;
  height: 48px;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden {
  display: none;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: 1px solid #000;
  padding-left: 20px;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .uppercase {
  text-transform: uppercase;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content a {
  font-size: 14.6px;
  font-weight: bold;
  padding: 17px;
  padding-left: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
  text-transform: capitalize;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.7);
  padding-right: auto;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .fa-chevron-right {
  color: rgba(0, 0, 0, 0.7);
  margin-right: 10px;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content div:hover .memorial-day {
  color: #ff0000 !important;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .memorial-day {
  color: #ff0000;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .nav-menu-icon-primary,
.burger-search-flex .burger-dropdown .burger-dropdown-content .nav-menu-content-hidden .nav-menu-dropdown-content .nav-menu-icon-secondary {
  height: 22.75px;
  width: 22.75px;
  margin-right: 0.5em;
}

.burger-search-flex .burger-dropdown .burger-dropdown-content a,
.burger-search-flex .burger-dropdown .burger-dropdown-content button {
  font-size: 16px;
  font-weight: bold;
  padding: 17px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
}

.sticky-nav-menu {
  display: none;
}

.showcase {
  background: url("/assets/world_mobile.png") no-repeat center center/cover;
  height: 32vh;
  position: relative;
}

.showcase .video-container {
  display: none;
}

.showcase .text-bg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  padding: 16px;
  bottom: 0;
}

.showcase .text-bg h1,
.showcase .text-bg p {
  color: #fff;
  text-align: center;
}

.showcase .text-bg h1 {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 3px;
}

.showcase .text-bg p {
  line-height: 25px;
}

@media screen and (min-width: 46.875em) {
  .showcase {
    height: 482.5px;
    position: relative;
  }
  .showcase .video-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .showcase .video-container video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .showcase .video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
}

@media screen and (min-width: 46.875em) and (min-width: 73.75em) {
  .showcase .video-container::after {
    background: none;
  }
}

@media screen and (min-width: 46.875em) {
  .showcase .text-bg {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: none;
  }
  .showcase .text-bg h1 {
    font-size: 64px;
    line-height: 1em;
    margin: 0 20px;
    padding-bottom: 10px;
  }
  .showcase .text-bg p {
    font-size: 22.4px;
    margin-bottom: 15px;
  }
  .showcase .text-bg a:first-child {
    margin-right: 15px;
  }
  .showcase .text-bg a {
    color: #fff;
    padding: 16px;
    border-radius: 5px;
    background: #4ac0e0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .showcase .text-bg a:hover {
    color: #4ac0e0;
    padding: 16px;
    border-radius: 5px;
    background: #fff;
  }
}

.showcase .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.showcase a {
  color: #46c8e1;
  text-transform: uppercase;
  padding: 8px;
  font-size: 16px;
}

@media screen and (min-width: 73.75em) {
  .showcase {
    display: none;
  }
}

.showcase-1180px {
  background: url("/assets/world_mobile.png") no-repeat center center/cover;
  height: 45vh;
  display: none;
  overflow: hidden;
}

.showcase-1180px .showcase-1180px-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  min-height: calc(100vh - 62px - 204px);
}

.showcase-1180px .video-container {
  display: block;
  overflow: hidden;
}

.showcase-1180px .text-bg {
  background: rgba(0, 0, 0, 0.5);
  width: 50%;
  padding: 16px;
  bottom: 0;
  position: absolute;
}

.showcase-1180px .text-bg h1,
.showcase-1180px .text-bg p {
  color: #fff;
  text-align: center;
}

.showcase-1180px .text-bg h1 {
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 3px;
}

.showcase-1180px .text-bg p {
  line-height: 25px;
}

@media screen and (min-width: 46.875em) {
  .showcase-1180px {
    height: 46vh;
    position: relative;
  }
  .showcase-1180px .video-container {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .showcase-1180px .video-container video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: 445px;
    -o-object-fit: cover;
       object-fit: cover;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .showcase-1180px .video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }
  .showcase-1180px .text-bg {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: none;
  }
  .showcase-1180px .text-bg h1 {
    font-size: 64px;
    line-height: 1em;
    margin: 0 20px;
    padding-bottom: 10px;
  }
  .showcase-1180px .text-bg p {
    font-size: 22.4px;
    margin-bottom: 15px;
  }
  .showcase-1180px .text-bg a:first-child {
    margin-right: 15px;
  }
  .showcase-1180px .text-bg a {
    color: #fff;
    padding: 16px;
    border-radius: 5px;
    background: #4ac0e0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .showcase-1180px .text-bg a:hover {
    color: #4ac0e0;
    padding: 16px;
    border-radius: 5px;
    background: #fff;
  }
}

.showcase-1180px .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media screen and (min-width: 73.75em) {
  .showcase-1180px .flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.showcase-1180px a {
  color: #46c8e1;
  text-transform: uppercase;
  padding: 8px;
  font-size: 16px;
}

.showcase-1180px .showcase-cards-1180px {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: absolute;
  right: 0;
  width: 50%;
}

.showcase-1180px .showcase-cards-1180px div {
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
}

@media screen and (min-width: 46.875em) {
  .showcase-1180px .showcase-cards-1180px div {
    height: 199px;
    border-top: 1px solid black;
  }
}

@media screen and (min-width: 73.75em) {
  .showcase-1180px .showcase-cards-1180px div {
    height: 357px;
    border: 1px solid #565759;
    border-top: none;
  }
}

.showcase-1180px .showcase-cards-1180px img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

@media screen and (min-width: 73.75em) {
  .showcase-1180px .showcase-cards-1180px img {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    position: absolute;
    left: 0;
  }
}

@media screen and (min-width: 73.75em) {
  .showcase-1180px .showcase-cards-1180px img:hover {
    opacity: 1;
  }
}

.showcase-1180px .showcase-cards-1180px a {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.showcase-1180px .showcase-cards-1180px span {
  position: absolute;
  font-size: 25.6px;
  color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 46.875em) {
  .showcase-1180px .showcase-cards-1180px span {
    top: 80%;
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
  }
}

.showcase-1180px .showcase-cards-1180px .third-span,
.showcase-1180px .showcase-cards-1180px .fourth-span {
  top: 30%;
}

.showcase-1180px .showcase-cards-1180px span:after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.showcase-1180px .showcase-cards-1180px::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 73.75em) {
  .showcase-1180px {
    display: block;
    min-height: calc(100vh - 62px - 190px);
  }
  .showcase-1180px .showcase-1180px-flex h1,
  .showcase-1180px .showcase-1180px-flex p {
    margin: 0;
    margin-bottom: 20px;
    text-align: start;
  }
  .showcase-1180px .showcase-1180px-flex p {
    margin-bottom: 4.5em;
  }
  .showcase-1180px .showcase-1180px-flex .text-bg {
    padding: 0;
    padding-left: 5em;
  }
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.cards div {
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  height: 119px;
}

@media screen and (min-width: 46.875em) {
  .cards div {
    height: 199px;
    border-top: 1px solid black;
  }
}

.cards img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards a {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.cards span {
  position: absolute;
  font-size: 25.6px;
  color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

@media screen and (min-width: 46.875em) {
  .cards span {
    top: 80%;
    -webkit-transform: translate(-50%, -80%);
            transform: translate(-50%, -80%);
  }
}

@media screen and (min-width: 73.75em) {
  .cards {
    display: none;
  }
}

footer {
  background: #bbb;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container-750px {
  display: none;
}

@media screen and (min-width: 46.875em) {
  footer .footer-container {
    display: none;
  }
  footer .footer-container-750px {
    display: block;
  }
}

@media screen and (min-width: 73.75em) {
  footer {
    padding: 20px 25px;
  }
}

@media screen and (min-width: 120em) {
  footer {
    padding: 20px 120px;
  }
}

footer .footer-container {
  padding: 0 10px;
}

footer .footer-container h3 {
  text-transform: uppercase;
  font-size: 12.8px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 5px;
}

footer .footer-container form {
  margin-bottom: 30px;
}

footer .footer-container form input {
  padding: 6px;
  font-size: 12px;
  float: left;
  width: 82%;
  border: 1px solid #414141;
}

@media screen and (min-width: 500px) {
  footer .footer-container form input {
    width: 66%;
  }
}

footer .footer-container form input:focus {
  border: 1.5px solid #84a5dc;
}

footer .footer-container form button {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #414141;
  border: none;
  float: left;
  padding: 3.84px;
  height: 29px;
  cursor: pointer;
  width: 18%;
}

@media screen and (min-width: 500px) {
  footer .footer-container form button {
    width: 14%;
  }
}

footer .footer-container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 16px;
  padding-bottom: 10px;
}

footer .footer-container .flex .fb-icon {
  background: url("/assets/fb.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .ig-icon {
  background: url("/assets/ig.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .yt-icon {
  background: url("/assets/yt.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .twitter-icon {
  background: url("/assets/twitter.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .flickr-icon {
  background: url("/assets/flickr.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .rss-icon {
  background: url("/assets/rss.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .fb-icon:hover {
  background: url("/assets/fb-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .ig-icon:hover {
  background: url("/assets/ig-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .yt-icon:hover {
  background: url("/assets/yt-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .twitter-icon:hover {
  background: url("/assets/twitter-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .flickr-icon:hover {
  background: url("/assets/flickr-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .flex .rss-icon:hover {
  background: url("/assets/rss-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container .country-region h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .footer-container .country-region img {
  padding: 2px;
  position: absolute;
  z-index: 1;
  height: 32px;
}

footer .footer-container .country-region select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #888;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #222;
}

footer .footer-container .country-region select select::-ms-expand {
  display: none;
}

footer .footer-container .country-region .select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 33px;
  padding: 6px;
  background: #888;
  overflow: hidden;
  padding-left: 55px;
  border: 1px solid #000;
}

@media screen and (min-width: 500px) {
  footer .footer-container .country-region .select-box {
    width: 80%;
  }
}

@media screen and (min-width: 500px) {
  footer .footer-container .country-region .select-box {
    width: 100%;
  }
}

footer .footer-container .country-region .select-box::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 15px;
  background: #424242;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  color: #fff;
  font-size: 12px;
}

footer .footer-container .country-region option {
  width: 100%;
  background: #fff;
}

footer .footer-container-750px {
  padding: 0 10px;
}

footer .footer-container-750px .footer-container-750px-flex {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

footer .footer-container-750px .footer-container-750px-flex div:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /2;
}

footer .footer-container-750px .footer-container-750px-flex div:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
}

footer .footer-container-750px .footer-container-750px-flex h3 {
  text-transform: uppercase;
  font-size: 12.8px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-bottom: 5px;
}

footer .footer-container-750px .footer-container-750px-flex form {
  margin-bottom: 30px;
}

footer .footer-container-750px .footer-container-750px-flex form input {
  padding: 6px;
  font-size: 12px;
  float: left;
  width: 83%;
  border: 1px solid #414141;
}

@media screen and (min-width: 500px) {
  footer .footer-container-750px .footer-container-750px-flex form input {
    width: 66%;
  }
}

footer .footer-container-750px .footer-container-750px-flex form input:focus {
  border: 1.5px solid #84a5dc;
}

footer .footer-container-750px .footer-container-750px-flex form button {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background: #414141;
  border: none;
  float: left;
  padding: 3.84px;
  height: 29px;
  cursor: pointer;
  width: 18%;
}

@media screen and (min-width: 500px) {
  footer .footer-container-750px .footer-container-750px-flex form button {
    width: 14%;
  }
}

@media screen and (min-width: 46.875em) {
  footer .footer-container-750px .footer-container-750px-flex form button {
    width: 18%;
  }
}

footer .footer-container-750px .footer-container-750px-flex .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 16px;
  padding-bottom: 10px;
}

@media screen and (min-width: 46.875em) {
  footer .footer-container-750px .footer-container-750px-flex .flex {
    padding-bottom: 20px;
  }
}

footer .footer-container-750px .footer-container-750px-flex .flex .fb-icon {
  background: url("/assets/fb.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .ig-icon {
  background: url("/assets/ig.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .yt-icon {
  background: url("/assets/yt.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .twitter-icon {
  background: url("/assets/twitter.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .flickr-icon {
  background: url("/assets/flickr.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .rss-icon {
  background: url("/assets/rss.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .fb-icon:hover {
  background: url("/assets/fb-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .ig-icon:hover {
  background: url("/assets/ig-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .yt-icon:hover {
  background: url("/assets/yt-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .twitter-icon:hover {
  background: url("/assets/twitter-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .flickr-icon:hover {
  background: url("/assets/flickr-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .flex .rss-icon:hover {
  background: url("/assets/rss-a.png") no-repeat center center/contain;
  height: 33px;
  width: 33px;
  margin-right: 5px;
}

footer .footer-container-750px .footer-container-750px-flex .country-region {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: end;
      justify-self: end;
}

footer .footer-container-750px .footer-container-750px-flex .country-region h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .footer-container-750px .footer-container-750px-flex .country-region img {
  padding: 2px;
  position: absolute;
  z-index: 1;
  height: 32px;
}

footer .footer-container-750px .footer-container-750px-flex .country-region select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  background: #888;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: #222;
}

footer .footer-container-750px .footer-container-750px-flex .country-region select select::-ms-expand {
  display: none;
}

footer .footer-container-750px .footer-container-750px-flex .country-region .select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 33px;
  padding: 6px;
  background: #888;
  overflow: hidden;
  padding-left: 55px;
  border: 1px solid #000;
}

@media screen and (min-width: 500px) {
  footer .footer-container-750px .footer-container-750px-flex .country-region .select-box {
    width: 80%;
  }
}

@media screen and (min-width: 46.875em) {
  footer .footer-container-750px .footer-container-750px-flex .country-region .select-box {
    width: 100%;
  }
}

footer .footer-container-750px .footer-container-750px-flex .country-region .select-box::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px 15px;
  background: #424242;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
  color: #fff;
  font-size: 12px;
}

footer .footer-container-750px .footer-container-750px-flex .country-region option {
  width: 100%;
  background: #fff;
}

@media screen and (min-width: 73.75em) {
  footer .footer-container-750px .footer-container-750px-flex {
    -ms-grid-columns: 365px 365px 1fr;
        grid-template-columns: 365px 365px 1fr;
  }
  footer .footer-container-750px .footer-container-750px-flex div:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /2;
  }
  footer .footer-container-750px .footer-container-750px-flex div:first-child form input {
    width: 75%;
  }
  footer .footer-container-750px .footer-container-750px-flex div:first-child form input,
  footer .footer-container-750px .footer-container-750px-flex div:first-child button {
    height: 32px;
  }
  footer .footer-container-750px .footer-container-750px-flex div:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    padding: 0;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  footer .footer-container-750px .footer-container-750px-flex .country-region {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

footer .dropdown-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
}

@media screen and (min-width: 46.875em) {
  footer .dropdown-flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 73.75em) {
  footer .dropdown-flex {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (16%)[5];
        grid-template-columns: repeat(5, 16%);
  }
}

footer .dropdown-flex img {
  position: relative;
}

footer .dropdown-flex span {
  position: absolute;
  text-transform: uppercase;
  font-size: 12.8px;
  font-weight: bold;
  padding-left: 5px;
  padding-top: 3px;
}

footer .dropdown-flex .dropdown {
  border-top: 1px solid #000;
  padding: 15px 20px;
  cursor: pointer;
}

@media screen and (min-width: 46.875em) {
  footer .dropdown-flex .dropdown {
    border-top: none;
  }
}

footer .dropdown-flex .dropdown-content {
  display: none;
}

footer .dropdown-flex .dropdown-content .dropdown-content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 25px 0;
}

footer .dropdown-flex .dropdown-content a {
  color: #373737;
  text-transform: capitalize;
  font-size: 12.8px;
  padding-bottom: 5px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

footer .dropdown-flex .dropdown-content a:hover {
  text-decoration: underline;
}

footer .all-rights-reserved-flex {
  font-size: 11.2px;
  color: #373737;
  border-top: 1px solid #000;
  padding: 10px 21px 168px;
}

footer .all-rights-reserved-flex p {
  margin-bottom: 7px;
}

footer .all-rights-reserved-flex .break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

@media screen and (min-width: 46.875em) {
  footer .all-rights-reserved-flex {
    border-top: none;
    padding: 0 20px;
  }
}

@media screen and (min-width: 73.75em) {
  footer .all-rights-reserved-flex p {
    margin-right: 10px;
  }
  footer .all-rights-reserved-flex .break {
    display: none;
  }
}

footer .all-rights-reserved-flex .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 8px;
}

footer .all-rights-reserved-flex a {
  color: #373737;
  margin: 0 13px 8px 0;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */