@import "mediaqueries";

// CSS Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

// Start
.container {
  min-width: 380px;
}

// Header-menu Default
.header-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  // Media Query 750px
  @include mediaQuery(46.875em) {
    display: none;
  }

  .logo {
    background: url("/assets/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 127px;
  }

  .grid {
    grid-column: 2 / 4;
    justify-self: end;
  }

  .flex {
    display: flex;
    flex-direction: row;
    margin-right: 8px;

    object {
      width: 1rem;
      height: 1rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5em;
    }

    a {
      margin: 0 10px;
      margin-top: 0.625em;
      font-size: 9px;
      text-transform: uppercase;
      color: #333;
    }
  }
}

// Header-menu for 750px up
.header-grid-750px {
  display: none;
  // Media Query 750px
  @include mediaQuery(46.875em) {
    display: block;
    padding-bottom: 10px;

    .header-grid-750px-grid {
      display: grid;
      grid-template-columns: 65px 127px 308px 1fr;

      div:first-child {
        margin-right: 8px;
        margin-left: 8px;
        place-self: center;
        i {
          display: block;
        }
        a {
          color: #000;
          text-transform: uppercase;
          text-align: center;
          font-size: 9px;
        }
      }

      .logo {
        background: url("/assets/logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 127px;
        width: 100%;
      }

      .search-filled {
        border: 1px solid #777;
        border-radius: 3px;

        input {
          display: inline-block;
          border: none;
          width: 91%;
          padding: 13px;
        }

        ::placeholder {
          font-size: 12px;
        }

        button {
          background: transparent;
          border: none;
        }
      }

      .flex {
        display: flex;
        flex-direction: row;
        margin-right: 8px;
        grid-column: 5 / span 2;
        place-self: end;

        object {
          width: 1rem;
          height: 1rem;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5em;
        }

        a {
          margin: 0 10px;
          margin-top: 0.625em;
          font-size: 9px;
          text-transform: uppercase;
          color: #333;
          margin-right: 35px;
        }
      }
    }
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: none;
  }
}

// Header-menu for 1180px up
.header-grid-1180px {
  display: none;
  .dropdown-content {
    display: none;
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: block;

    .header-grid-1180px-grid {
      display: grid;
      grid-template-columns: 127px 500px 1fr 1fr 1fr;

      // Media Query for 1480px
      @include mediaQuery(1480px) {
        grid-template-columns: 127px 700px 1fr 1fr 1fr;
      }
    }

    .logo {
      background: url("/assets/logo.png");
      background-size: 100%;
      background-repeat: no-repeat;
      max-width: 127px;
      width: 100%;
    }

    .nav-menu-flex-1180px {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a {
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin-right: 25px;
      }

      a:nth-child(5),
      a:nth-child(6) {
        display: none;

        // Media Query for 1480px
        @include mediaQuery(1480px) {
          display: block;
        }
      }
    }

    .search-filled-gridItem {
      grid-column: 3;
      .search-filled {
        border: 1px solid #777;
        border-top: none;
        border-radius: 7px;

        input {
          display: inline-block;
          border: none;
          width: 91%;
          padding: 13px;
        }

        ::placeholder {
          font-size: 12px;
        }

        button {
          background: transparent;
          border: none;
        }
      }
    }

    .lenovopro-dropdown {
      place-self: center;
      grid-column: 4;
    }

    .flex {
      display: flex;
      flex-direction: row;
      margin-right: 8px;
      justify-content: center;
      align-items: center;
      grid-column: 5;

      object {
        width: 1rem;
        height: 1rem;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5em;
        margin-right: 35px;
      }
    }
  }
}

// Burger-menu & Search-box Section
.burger-search-flex {
  display: flex;
  flex-direction: row;
  padding: 12px 5px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 28px;

  // Media Query 750px
  @include mediaQuery(46.875em) {
    display: none;
  }

  div:first-child {
    margin-right: 8px;
    a {
      color: #000;
      text-align: center;
      text-transform: uppercase;
      font-size: 9px;
    }

    i {
      display: block;
    }
  }

  div:last-child {
    flex-grow: 1;

    .search-filled {
      border: 1px solid #777;
      border-radius: 3px;

      // Media Query 500px
      @include mediaQuery(500px) {
        width: 75%;
      }

      input {
        display: inline-block;
        border: none;
        width: 91%;
        padding: 13px;
      }

      ::placeholder {
        font-size: 12px;
      }

      button {
        background: transparent;
        border: none;
      }
    }
  }
}

// Sticky Nav-menu Hidden by default
.sticky-nav-menu {
  display: none;
}

// Showcase Section
.showcase {
  background: url("/assets/world_mobile.png") no-repeat center center/cover;
  height: 32vh;
  position: relative;

  .video-container {
    display: none;
  }

  .text-bg {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    padding: 16px;
    bottom: 0;

    h1,
    p {
      color: #fff;
      text-align: center;
    }

    h1 {
      font-size: 26px;
      font-weight: 400;
      padding-bottom: 3px;
    }

    p {
      line-height: 25px;
    }
  }

  // Media Query 750px
  @include mediaQuery(46.875em) {
    height: 46vh;
    position: relative;

    .video-container {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;

      video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        height: 445px;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }

    .text-bg {
      top: 50%;
      transform: translateY(-50%);
      background: none;

      h1 {
        font-size: 64px;
        line-height: 1em;
        margin: 0 20px;
        padding-bottom: 10px;
      }

      p {
        font-size: 22.4px;
        margin-bottom: 15px;
      }

      a:first-child {
        margin-right: 15px;
      }

      a {
        color: #fff;
        padding: 16px;
        border-radius: 5px;
        background: #4ac0e0;
        transition: all 200ms ease-in-out;
      }

      a:hover {
        color: #4ac0e0;
        padding: 16px;
        border-radius: 5px;
        background: #fff;
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  a {
    color: #46c8e1;
    text-transform: uppercase;
    padding: 8px;
    font-size: 16px;
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: none;
  }
}

// Showcase-1180px Section
.showcase-1180px {
  background: url("/assets/world_mobile.png") no-repeat center center/cover;
  height: 45vh;
  display: none;
  overflow: hidden;

  .showcase-1180px-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100vh - 62px - 204px);
  }

  .video-container {
    display: block;
    overflow: hidden;
  }

  .text-bg {
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 16px;
    bottom: 0;
    position: absolute;

    h1,
    p {
      color: #fff;
      text-align: center;
    }

    h1 {
      font-size: 26px;
      font-weight: 400;
      padding-bottom: 3px;
    }

    p {
      line-height: 25px;
    }
  }

  // Media Query 750px
  @include mediaQuery(46.875em) {
    height: 46vh;
    position: relative;

    .video-container {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;

      video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        height: 445px;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }

    .text-bg {
      top: 50%;
      transform: translateY(-50%);
      background: none;

      h1 {
        font-size: 64px;
        line-height: 1em;
        margin: 0 20px;
        padding-bottom: 10px;
      }

      p {
        font-size: 22.4px;
        margin-bottom: 15px;
      }

      a:first-child {
        margin-right: 15px;
      }

      a {
        color: #fff;
        padding: 16px;
        border-radius: 5px;
        background: #4ac0e0;
        transition: all 200ms ease-in-out;
      }

      a:hover {
        color: #4ac0e0;
        padding: 16px;
        border-radius: 5px;
        background: #fff;
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    @include mediaQuery(73.75em) {
      justify-content: start;
    }
  }

  a {
    color: #46c8e1;
    text-transform: uppercase;
    padding: 8px;
    font-size: 16px;
  }

  // Showcase-cards-1180px Section
  .showcase-cards-1180px {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    right: 0;
    width: 50%;

    div {
      border: 1px solid rgba(0, 0, 0, 0.5);
      text-align: center;
      position: relative;
      // Media Query 750px
      @include mediaQuery(46.875em) {
        height: 199px;
        border-top: 1px solid rgba(0, 0, 0, 1);
      }

      // Media Query 1180px
      @include mediaQuery(73.75em) {
        height: 357px;
        border: 1px solid rgb(86, 87, 89);
        border-top: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // Media Query 1180px
      @include mediaQuery(73.75em) {
        opacity: 0;
        transition: opacity 0.5s;
        position: absolute;
        left: 0;
      }
    }

    img:hover {
      // Media Query 1180px
      @include mediaQuery(73.75em) {
        opacity: 1;
      }
    }

    a {
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    span {
      position: absolute;
      font-size: 25.6px;
      color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;

      // Media Query 750px
      @include mediaQuery(46.875em) {
        top: 80%;
        transform: translate(-50%, -80%);
      }
    }
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: block;
    min-height: calc(100vh - 62px - 190px);

    .showcase-1180px-flex {
      h1,
      p {
        margin: 0;
        margin-bottom: 20px;
        text-align: start;
      }

      p {
        margin-bottom: 4.5em;
      }

      .text-bg {
        padding: 0;
        padding-left: 5em;
      }
    }
  }
}

// Card Section
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  div {
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    height: 119px;
    // Media Query 750px
    @include mediaQuery(46.875em) {
      height: 199px;
      border-top: 1px solid rgba(0, 0, 0, 1);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  span {
    position: absolute;
    font-size: 25.6px;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    // Media Query 750px
    @include mediaQuery(46.875em) {
      top: 80%;
      transform: translate(-50%, -80%);
    }
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: none;
  }
}

// Footer {
footer {
  background: #bbb;
  color: #555;
  display: flex;
  flex-direction: column;

  .footer-container-750px {
    display: none;
  }

  // Media Query for 750px
  @include mediaQuery(46.875em) {
    .footer-container {
      display: none;
    }

    .footer-container-750px {
      display: block;
    }
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    padding: 20px 25px;
  }

  .footer-container {
    padding: 0 10px;

    // Email Us
    h3 {
      text-transform: uppercase;
      font-size: 12.8px;
      font-weight: bold;
      letter-spacing: 1px;
      padding-top: 20px;
      padding-bottom: 5px;
    }

    form {
      margin-bottom: 30px;
      input {
        padding: 6px;
        font-size: 12px;
        float: left;
        width: 82%;
        border: 1px solid #414141;

        // Media Query 500px
        @include mediaQuery(500px) {
          width: 66%;
        }
      }
      input:focus {
        border: 1.5px solid #84a5dc;
      }

      button {
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        background: #414141;
        border: none;
        float: left;
        padding: 3.84px;
        height: 29px;
        cursor: pointer;
        width: 18%;

        // Media Query 500px
        @include mediaQuery(500px) {
          width: 14%;
        }

        // Media Query 750px
        // @include mediaQuery(46.875em) {
        //   width: 17%;
        // }
      }
    }

    // Social Media Icons
    .flex {
      display: flex;
      flex-direction: row;
      padding-top: 16px;
      padding-bottom: 10px;

      // Media Query 750px
      // @include mediaQuery(46.875em) {
      //   padding-bottom: 20px;
      // }

      .fb-icon {
        background: url("/assets/fb.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .ig-icon {
        background: url("/assets/ig.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .yt-icon {
        background: url("/assets/yt.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .twitter-icon {
        background: url("/assets/twitter.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .flickr-icon {
        background: url("/assets/flickr.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .rss-icon {
        background: url("/assets/rss.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      // Social Media Icon while Hover
      .fb-icon:hover {
        background: url("/assets/fb-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .ig-icon:hover {
        background: url("/assets/ig-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .yt-icon:hover {
        background: url("/assets/yt-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .twitter-icon:hover {
        background: url("/assets/twitter-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .flickr-icon:hover {
        background: url("/assets/flickr-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .rss-icon:hover {
        background: url("/assets/rss-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }
    }

    // Country/Region
    .country-region {
      // Media Query 750px
      // @include mediaQuery(46.875em) {
      //   justify-self: end;
      // }

      h3 {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      img {
        padding: 2px;
        position: absolute;
        z-index: 1;
        height: 32px;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #888;
        background-image: none;
        flex: 1;
        padding: 0 0.5em;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        color: #222;

        select::-ms-expand {
          display: none;
        }
      }

      .select-box {
        position: relative;
        display: flex;
        width: 100%;
        height: 33px;
        padding: 6px;
        background: #888;
        overflow: hidden;
        padding-left: 55px;
        border: 1px solid #000;

        // Media Query 500px
        @include mediaQuery(500px) {
          width: 80%;
        }

        // Media Query 750px
        @include mediaQuery(500px) {
          width: 100%;
        }
      }
      .select-box::after {
        content: "\25BC";
        position: absolute;
        top: 0;
        right: 0;
        padding: 9px 15px;
        background: #424242;
        cursor: pointer;
        pointer-events: none;
        transition: 0.25s all ease;
        color: #fff;
        font-size: 12px;
      }

      option {
        width: 100%;
        background: #fff;
      }
    }
  }

  // Footer Container 750px Hidden by default
  .footer-container-750px {
    padding: 0 10px;

    .footer-container-750px-flex {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      div:first-child {
        grid-column: 1 /2;
      }

      div:nth-child(2) {
        grid-row: 2 /3;
      }

      // Email Us
      h3 {
        text-transform: uppercase;
        font-size: 12.8px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 20px;
        padding-bottom: 5px;
      }

      form {
        margin-bottom: 30px;
        input {
          padding: 6px;
          font-size: 12px;
          float: left;
          width: 83%;
          border: 1px solid #414141;

          // Media Query 500px
          @include mediaQuery(500px) {
            width: 66%;
          }
        }
        input:focus {
          border: 1.5px solid #84a5dc;
        }

        button {
          text-transform: uppercase;
          font-weight: bold;
          color: #fff;
          background: #414141;
          border: none;
          float: left;
          padding: 3.84px;
          height: 29px;
          cursor: pointer;
          width: 18%;

          // Media Query 500px
          @include mediaQuery(500px) {
            width: 14%;
          }

          // Media Query 750px
          @include mediaQuery(46.875em) {
            width: 18%;
          }
        }
      }

      // Social Media Icons
      .flex {
        display: flex;
        flex-direction: row;
        padding-top: 16px;
        padding-bottom: 10px;

        // Media Query 750px
        @include mediaQuery(46.875em) {
          padding-bottom: 20px;
        }

        .fb-icon {
          background: url("/assets/fb.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .ig-icon {
          background: url("/assets/ig.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .yt-icon {
          background: url("/assets/yt.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .twitter-icon {
          background: url("/assets/twitter.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .flickr-icon {
          background: url("/assets/flickr.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .rss-icon {
          background: url("/assets/rss.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        // Social Media Icon while Hover
        .fb-icon:hover {
          background: url("/assets/fb-a.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .ig-icon:hover {
          background: url("/assets/ig-a.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .yt-icon:hover {
          background: url("/assets/yt-a.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .twitter-icon:hover {
          background: url("/assets/twitter-a.png") no-repeat center
            center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .flickr-icon:hover {
          background: url("/assets/flickr-a.png") no-repeat center
            center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .rss-icon:hover {
          background: url("/assets/rss-a.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }
      }

      // Country/Region
      .country-region {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;

        h3 {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        img {
          padding: 2px;
          position: absolute;
          z-index: 1;
          height: 32px;
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none;
          outline: 0;
          box-shadow: none;
          border: 0 !important;
          background: #888;
          background-image: none;
          flex: 1;
          padding: 0 0.5em;
          color: #fff;
          cursor: pointer;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          color: #222;

          select::-ms-expand {
            display: none;
          }
        }

        .select-box {
          position: relative;
          display: flex;
          width: 100%;
          height: 33px;
          padding: 6px;
          background: #888;
          overflow: hidden;
          padding-left: 55px;
          border: 1px solid #000;

          // Media Query 500px
          @include mediaQuery(500px) {
            width: 80%;
          }

          // Media Query 750px
          @include mediaQuery(46.875em) {
            width: 100%;
          }
        }
        .select-box::after {
          content: "\25BC";
          position: absolute;
          top: 0;
          right: 0;
          padding: 9px 15px;
          background: #424242;
          cursor: pointer;
          pointer-events: none;
          transition: 0.25s all ease;
          color: #fff;
          font-size: 12px;
        }

        option {
          width: 100%;
          background: #fff;
        }
      }

      // Media Query for 1180px
      @include mediaQuery(73.75em) {
        grid-template-columns: repeat(3, 1fr);

        div:first-child {
          grid-column: 1 /2;

          form input {
            width: 75%;
          }

          form input,
          button {
            height: 32px;
          }
        }

        div:nth-child(2) {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          padding: 0;
          align-self: end;
        }

        .country-region {
          grid-column: 3 / 4;
        }
      }
    }
  }

  // About/ Products & Service/ Shop By/ Resources/ Customer Support
  .dropdown-flex {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    // Media Query 750px
    @include mediaQuery(46.875em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    // Media Query 1180px
    @include mediaQuery(73.75em) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }

    img {
      position: relative;
    }

    span {
      position: absolute;
      text-transform: uppercase;
      font-size: 12.8px;
      font-weight: bold;
      padding-left: 5px;
      padding-top: 3px;
    }

    .dropdown {
      border-top: 1px solid #000;
      padding: 15px 20px;
      cursor: pointer;

      // Media Query 750px
      @include mediaQuery(46.875em) {
        border-top: none;
      }
    }

    .dropdown-content {
      display: none;

      .dropdown-content-flex {
        display: flex;
        flex-direction: column;
        padding: 10px 25px 0;
      }

      a {
        color: #373737;
        text-transform: capitalize;
        font-size: 12.8px;
        padding-bottom: 5px;
        transition: all 200ms ease-in-out;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  // All rights reserved section
  .all-rights-reserved-flex {
    font-size: 11.2px;
    color: #373737;
    border-top: 1px solid #000;
    padding: 10px 21px 168px;

    p {
      margin-bottom: 7px;
    }
    .break {
      flex-basis: 100%;
      height: 0;
    }

    // Media Query 750px
    @include mediaQuery(46.875em) {
      border-top: none;
      padding: 0 20px;
    }

    // Media Query 1180px
    @include mediaQuery(73.75em) {
      p {
        margin-right: 10px;
      }
      .break {
        display: none;
      }
    }

    .flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 8px;
    }

    a {
      color: #373737;
      margin: 0 13px 8px 0;
      text-decoration: underline;
    }
  }
}
