@import "mediaqueries";

// CSS Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

// Start
.container {
  min-width: 380px;
}

// Header-menu, Header-grid-750px to stick on top
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

// Header-menu Default
.header-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  // Media Query 750px
  @include mediaQuery(46.875em) {
    display: none;
  }

  .logo {
    background: url("/assets/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    max-width: 127px;
  }

  .grid {
    grid-column: 2 / 4;
    justify-self: end;
  }

  .flex {
    display: flex;
    flex-direction: row;
    margin-right: 8px;

    object {
      width: 1rem;
      height: 1rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5em;
    }

    a {
      margin: 0 10px;
      margin-top: 0.625em;
      font-size: 9px;
      text-transform: uppercase;
      color: #333;
    }
  }
}

// Header-menu for 750px up
.header-grid-750px {
  display: none;
  // Media Query 750px
  @include mediaQuery(46.875em) {
    display: block;
    padding-bottom: 10px;
    background: #fff;

    .header-grid-750px-grid {
      display: grid;
      grid-template-columns: 65px 127px 308px 1fr;

      div:first-child {
        margin-right: 8px;
        margin-left: 8px;
        place-self: center;
        i {
          display: block;
        }
        a {
          color: #000;
          text-transform: uppercase;
          text-align: center;
          font-size: 9px;
        }
      }

      .logo {
        background: url("/assets/logo.png");
        background-size: 100%;
        background-repeat: no-repeat;
        max-width: 127px;
        width: 100%;
      }

      .search-filled {
        border: 1px solid #777;
        border-radius: 3px;

        input {
          display: inline-block;
          border: none;
          width: 91%;
          padding: 13px;
          height: 39px;
        }

        ::placeholder {
          font-size: 12px;
        }

        button {
          background: transparent;
          border: none;
        }
      }

      .flex {
        display: flex;
        flex-direction: row;
        margin-right: 8px;
        grid-column: 5 / span 2;
        place-self: end;

        object {
          width: 1rem;
          height: 1rem;
          display: block;
          margin: 0 auto;
          margin-bottom: 0.5em;
        }

        a {
          margin: 0 10px;
          margin-top: 0.625em;
          font-size: 9px;
          text-transform: uppercase;
          color: #333;
          margin-right: 35px;
        }
      }
      .burger-dropdown {
        position: relative;
        display: inline-block;
        .burger-dropdown-content {
          display: none;
          position: absolute;
          background-color: #000;
          min-width: 96.4vw;
          left: -13px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          margin-top: 11px;
          z-index: 2;

          // Media Query 750px
          @include mediaQuery(46.875em) {
            min-width: 48.2vw;
            display: none;
          }

          div {
            // display: flex;
            // flex-direction: row;
            border-bottom: 1px solid #fff;
            cursor: pointer;
            margin: 0;
          }

          .flex {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-right: 0;
            margin-left: 0;
            a {
              margin: 0;
            }
          }

          .fa-plus,
          .fa-minus,
          .fa-chevron-right {
            color: #fff;
            margin-right: 15px;
          }

          .fa-minus {
            display: none;
          }

          .pc-tablets-dropdown {
            margin-right: 0;
            margin-left: 0;
          }

          .lenovopro-dropdown {
            border-bottom: none;
            background: #666;
            a {
              padding: 0 17px;
            }
            object {
              width: 100px;
              height: 48px;
            }
          }

          .nav-menu-content-hidden {
            display: none;
            .nav-menu-dropdown-content {
              display: flex;
              flex-direction: column;
              background: #fff;

              div {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                border-bottom: 1px solid #000;
                padding-left: 20px;
              }
              .uppercase {
                text-transform: uppercase;
              }
              a {
                font-size: 14.6px;
                font-weight: bold;
                padding: 17px;
                padding-left: 5px;
                align-self: flex-start;
                text-align: left;
                text-transform: capitalize;
                font-weight: normal;
                color: rgba(0, 0, 0, 0.7);
                padding-right: auto;
                flex-grow: 2;
              }
              .fa-chevron-right {
                color: rgba(0, 0, 0, 0.7);
                margin-right: 10px;
              }

              div:hover .memorial-day {
                color: #ff0000 !important;
              }
              .memorial-day {
                color: #ff0000;
              }
              .nav-menu-icon-primary,
              .nav-menu-icon-secondary {
                height: 22.75px;
                width: 22.75px;
                margin-right: 0.5em;
              }
            }
          }
          a,
          button {
            font-size: 16px;
            font-weight: bold;
            padding: 17px;
            align-self: flex-start;
            text-transform: uppercase;
            font-weight: normal;
            color: #fff;
          }
        }
      }
    }
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: none;
  }
}

// Header-menu for 1180px up
.header-grid-1180px {
  display: none;
  .dropdown-content {
    display: none;
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: block;

    .header-grid-1180px-grid {
      display: grid;
      grid-template-columns: 128px 500px 1fr 21% 140px 150px;
      position: relative;
      height: 41px;

      // Media Query for 1480px
      @include mediaQuery(1480px) {
        grid-template-columns: 128px 700px 1fr 21% 140px 150px;
        height: 41px;
      }
    }

    .logo {
      background: url("/assets/logo.png");
      background-size: 100%;
      background-repeat: no-repeat;
      max-width: 127px;
      width: 100%;
    }

    .nav-menu-flex-1180px {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      a {
        color: #000;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin-right: 25px;
      }

      .pc-tablets-dropdown,
      .data-center-dropdown,
      .smart-devices-dropdown,
      .services-dropdown,
      .about-lenovo-dropdown {
        display: inline-block;

        button {
          padding: 16px;
          border: none;
          text-transform: uppercase;
          font-weight: bold;
          background: #fff;
          cursor: pointer;
        }
        button:hover {
          background: #efefef;
          color: #4ac0e0;
        }
      }

      .phones-btn {
        padding: 15px;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        background: #fff;
        cursor: pointer;
      }

      .phones-btn:hover {
        background: #efefef;
        color: #4ac0e0;
      }

      .pc-tablets-dropdown:hover .nav-menu-content-hidden,
      .data-center-dropdown:hover .nav-menu-content-hidden,
      .smart-devices-dropdown:hover .nav-menu-content-hidden,
      .services-dropdown:hover .nav-menu-content-hidden,
      .about-lenovo-dropdown:hover .nav-menu-content-hidden {
        display: block;
      }

      .nav-menu-content-hidden {
        display: none;
      }

      .nav-menu-dropdown-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #efefef;
        position: absolute;
        width: 100%;
        left: 0px;
        padding: 20px 16px;
        z-index: 2;
        overflow: hidden;
        top: 41px;

        div {
          display: flex;
          flex-direction: row;
        }
        div:hover a {
          color: #4ac0e0;
        }
        div:hover .memorial-day {
          color: #ff0000 !important;
        }
        .nav-menu-icon-primary,
        .nav-menu-icon-secondary {
          height: 22.75px;
          width: 22.75px;
          margin-right: 0.5em;
        }
        .nav-menu-icon-secondary {
          display: none;
        }
        div:hover .nav-menu-icon-primary {
          display: none;
        }
        div:hover .nav-menu-icon-secondary {
          display: block;
        }
        a {
          font-size: 13px;
          align-self: center;
          text-transform: capitalize;
          font-weight: normal;
          margin-right: 2.5em;
          color: #373737;
        }
        .memorial-day {
          color: #ff0000;
        }
      }

      .services-dropdown,
      .about-lenovo-dropdown {
        display: none;

        // Media Query for 1480px
        @include mediaQuery(1480px) {
          display: block;
        }
      }
    }

    .search-filled-gridItem {
      grid-column: 4;
      .search-filled {
        border: 1px solid #777;
        border-top: none;
        border-radius: 7px;

        input {
          display: inline-block;
          border: none;
          width: 91%;
          padding: 13px;
          height: 39px;
        }

        ::placeholder {
          font-size: 12px;
        }

        button {
          background: transparent;
          border: none;
        }
      }
    }

    .lenovopro-dropdown {
      place-self: center;
      grid-column: 5;
      position: relative;
      display: inline-block;
    }
    .lenovopro-dropdown:hover .lenovopro-dropdown-content {
      display: block;
    }
    .lenovopro-dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 190px;
      padding: 7px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
      border-radius: 7px;
      z-index: 6;
      right: -40px;
      top: 25px;
      a {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        text-transform: capitalize;
        display: block;
        font-size: 14px;
      }
      a:first-child {
        // border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }
      .border-bottom {
        height: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        position: relative;
        left: 9%;
        right: 20%;
        width: 75%;
      }
      .fa-chevron-right {
        display: none;
      }
      .with-chevron-icon:hover {
        color: #87ceeb;
        display: inline-block;
      }
      .with-chevron-icon:hover .fa-chevron-right {
        display: block;
        color: #87ceeb;
        display: inline-block;
        font-size: 12px;
      }
    }
    .lenovopro-dropdown-content:before,
    .lenovopro-dropdown-content:after {
      content: " ";
      display: block;
      border-style: solid;
      border-width: 0 0.8em 12px 0.8em;
      border-color: transparent;
      position: absolute;
      left: 7em;
    }

    .lenovopro-dropdown-content:before {
      top: -0.8em;
      border-bottom-color: rgba(0, 0, 0, 0.5);
    }

    .lenovopro-dropdown-content:after {
      top: -0.7em;
      border-bottom-color: #fff;
    }

    .flex {
      display: flex;
      flex-direction: row;
      margin-right: 8px;
      justify-content: space-around;
      align-items: center;
      grid-column: 6;

      .contact-dropdown {
        display: inline-block;
        position: relative;
      }

      .contact-dropdown:hover .contact-dropdown-content {
        display: block;
      }

      .contact-dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 260px;
        padding: 15px 17.5px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
        border-radius: 7px;
        z-index: 6;
        right: -40px;
        div {
          .business-order-no:hover {
            color: #87ceeb;
          }
          .existing-order-no:hover {
            color: #87ceeb;
          }
        }
        p {
          text-transform: uppercase;
          padding: 3px 0;
          font-size: 13px;
          color: #333;
        }
        .place-order,
        .business-order,
        .existing-order {
          padding: 3px;
          padding-top: 10px;
          font-weight: bold;
          font-size: 13px;
          color: #333;
        }
        .business-order,
        .existing-order {
          margin-top: 10px;
          border-top: 1px solid rgba(0, 0, 0, 0.3);
        }
        .existing-order {
          a {
            margin-bottom: 10px !important;
          }
        }
        a {
          padding: 3px 0;
          color: #333;
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          font-size: 13px;
        }
        a:first-child {
          border-top: 1px solid rgba(0, 0, 0, 0.3);
        }
        .faqs,
        .chat {
          color: #217c96;
          font-weight: bold;
          padding: 10px 0;
        }
        .faqs {
          margin-top: 8px;
        }
        .chat {
          color: #217c96;
          font-weight: bold;
          padding-bottom: 0px;
        }
      }

      .contact-dropdown-content:before,
      .contact-dropdown-content:after {
        content: " ";
        display: block;
        border-style: solid;
        border-width: 0 0.8em 12px 0.8em;
        border-color: transparent;
        position: absolute;
        left: 12.5em;
      }

      .contact-dropdown-content:before {
        top: -0.8em;
        border-bottom-color: rgba(0, 0, 0, 0.5);
      }

      .contact-dropdown-content:after {
        top: -0.7em;
        border-bottom-color: #fff;
      }

      object {
        width: 1rem;
        height: 1rem;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5em;
      }
    }

    .account-dropdown {
      place-self: center;
      grid-column: 4;
      position: relative;
      display: inline-block;
    }
    .account-dropdown:hover .account-dropdown-content {
      display: block;
    }
    .account-dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 205px;
      padding: 10px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
      border-radius: 7px;
      z-index: 6;
      right: -40px;
      a {
        color: #333;
        padding: 12px 16px;
        text-decoration: none;
        text-transform: capitalize;
        display: block;
        font-size: 14px;
      }
      a:first-child,
      a:nth-child(2) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }
      .fa-chevron-right {
        display: none;
      }
      .with-chevron-icon:hover {
        color: #87ceeb;
      }
      .with-chevron-icon:hover .fa-chevron-right {
        display: block;
        color: #87ceeb;
        display: inline-block;
        font-size: 12px;
      }
    }
    .account-dropdown-content:before,
    .account-dropdown-content:after {
      content: " ";
      display: block;
      border-style: solid;
      border-width: 1px 0.8em 12px 0.8em;
      border-color: transparent;
      position: absolute;
      left: 9.1em;
    }

    .account-dropdown-content:before {
      top: -0.8em;
      border-bottom-color: rgba(0, 0, 0, 0.5);
    }

    .account-dropdown-content:after {
      top: -0.7em;
      border-bottom-color: #fff;
    }
  }
}

#header-menu-2 {
  padding-right: 0 !important;
  display: none;
  background: #fff;
}

// Burger-menu & Search-box Section
.burger-search-flex {
  display: flex;
  flex-direction: row;
  padding: 12px 5px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 28px;

  // .grid {
  //   grid-column: 2 / 4;
  //   justify-self: end;
  // }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0;

    object {
      width: 1rem;
      height: 1rem;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5em;
    }

    a {
      margin: 0 10px;
      margin-top: 0.625em;
      margin-right: 30px;
      font-size: 9px;
      text-transform: uppercase;
      color: #333;
    }
    a:last-child {
      margin-right: 10px;
    }
  }

  // Media Query 750px
  @include mediaQuery(46.875em) {
    display: none;
  }

  div:first-child {
    margin-right: 8px;
    a {
      color: #000;
      text-align: center;
      text-transform: uppercase;
      font-size: 9px;
    }

    i {
      display: block;
    }
  }

  div:last-child {
    flex-grow: 1;

    .search-filled {
      border: 1px solid #777;
      border-radius: 3px;

      // Media Query 500px
      @include mediaQuery(500px) {
        width: 75%;
      }

      input {
        display: inline-block;
        border: none;
        width: 91%;
        padding: 13px;
      }

      ::placeholder {
        font-size: 12px;
      }

      button {
        background: transparent;
        border: none;
      }
    }
  }
  .burger-dropdown {
    position: relative;
    display: inline-block;
    .burger-dropdown-content {
      display: none;
      position: absolute;
      background-color: #000;
      min-width: 96.4vw;
      left: -10px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      margin-top: 1px;
      z-index: 2;

      // Media Query 750px
      @include mediaQuery(46.875em) {
        min-width: 48.2vw;
        display: block !important;
      }

      div {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #fff;
        cursor: pointer;
      }

      .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-right: 0;
      }

      .fa-plus,
      .fa-minus,
      .fa-chevron-right {
        color: #fff;
        margin-right: 10px;
      }

      .fa-minus {
        display: none;
      }

      .pc-tablets-dropdown {
        margin-right: 0;
      }

      .lenovopro-dropdown {
        border-bottom: none;
        background: #666;
        a {
          padding: 0 17px;
        }
        object {
          width: 100px;
          height: 48px;
        }
      }

      .nav-menu-content-hidden {
        display: none;
        .nav-menu-dropdown-content {
          display: flex;
          flex-direction: column;
          background: #fff;
          margin-right: 0;

          div {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            border-bottom: 1px solid #000;
            padding-left: 20px;
          }
          .uppercase {
            text-transform: uppercase;
          }
          a {
            font-size: 14.6px;
            font-weight: bold;
            padding: 17px;
            padding-left: 5px;
            align-self: flex-start;
            text-align: left;
            text-transform: capitalize;
            font-weight: normal;
            color: rgba(0, 0, 0, 0.7);
            padding-right: auto;
            flex-grow: 2;
          }
          .fa-chevron-right {
            color: rgba(0, 0, 0, 0.7);
            margin-right: 10px;
          }

          div:hover .memorial-day {
            color: #ff0000 !important;
          }
          .memorial-day {
            color: #ff0000;
          }
          .nav-menu-icon-primary,
          .nav-menu-icon-secondary {
            height: 22.75px;
            width: 22.75px;
            margin-right: 0.5em;
          }
        }
      }
      a,
      button {
        font-size: 16px;
        font-weight: bold;
        padding: 17px;
        align-self: flex-start;
        text-transform: uppercase;
        font-weight: normal;
        color: #fff;
      }
    }
  }
}

// Sticky Nav-menu Hidden by default
.sticky-nav-menu {
  display: none;
}

// Showcase Section
.showcase {
  background: url("/assets/world_mobile.png") no-repeat center center/cover;
  height: 32vh;
  position: relative;

  .video-container {
    display: none;
  }

  .text-bg {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    padding: 16px;
    bottom: 0;

    h1,
    p {
      color: #fff;
      text-align: center;
    }

    h1 {
      font-size: 26px;
      font-weight: 400;
      padding-bottom: 3px;
    }

    p {
      line-height: 25px;
    }
  }

  // Media Query 750px
  @include mediaQuery(46.875em) {
    height: 482.5px;
    position: relative;

    .video-container {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;

      video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        // height: 445px;
        width: auto;
        height: auto;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);

      // Media Query for 1180px
      @include mediaQuery(73.75em) {
        background: none;
      }
    }

    .text-bg {
      top: 50%;
      transform: translateY(-50%);
      background: none;

      h1 {
        font-size: 64px;
        line-height: 1em;
        margin: 0 20px;
        padding-bottom: 10px;
      }

      p {
        font-size: 22.4px;
        margin-bottom: 15px;
      }

      a:first-child {
        margin-right: 15px;
      }

      a {
        color: #fff;
        padding: 16px;
        border-radius: 5px;
        background: #4ac0e0;
        transition: all 200ms ease-in-out;
      }

      a:hover {
        color: #4ac0e0;
        padding: 16px;
        border-radius: 5px;
        background: #fff;
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  a {
    color: #46c8e1;
    text-transform: uppercase;
    padding: 8px;
    font-size: 16px;
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: none;
  }
}

// Showcase-1180px Section
.showcase-1180px {
  background: url("/assets/world_mobile.png") no-repeat center center/cover;
  height: 45vh;
  display: none;
  overflow: hidden;

  .showcase-1180px-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(100vh - 62px - 204px);
  }

  .video-container {
    display: block;
    overflow: hidden;
  }

  .text-bg {
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    padding: 16px;
    bottom: 0;
    position: absolute;

    h1,
    p {
      color: #fff;
      text-align: center;
    }

    h1 {
      font-size: 26px;
      font-weight: 400;
      padding-bottom: 3px;
    }

    p {
      line-height: 25px;
    }
  }

  // Media Query 750px
  @include mediaQuery(46.875em) {
    height: 46vh;
    position: relative;

    .video-container {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;

      video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        height: 445px;
        object-fit: cover;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .video-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }

    .text-bg {
      top: 50%;
      transform: translateY(-50%);
      background: none;

      h1 {
        font-size: 64px;
        line-height: 1em;
        margin: 0 20px;
        padding-bottom: 10px;
      }

      p {
        font-size: 22.4px;
        margin-bottom: 15px;
      }

      a:first-child {
        margin-right: 15px;
      }

      a {
        color: #fff;
        padding: 16px;
        border-radius: 5px;
        background: #4ac0e0;
        transition: all 200ms ease-in-out;
      }

      a:hover {
        color: #4ac0e0;
        padding: 16px;
        border-radius: 5px;
        background: #fff;
      }
    }
  }

  .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    @include mediaQuery(73.75em) {
      justify-content: start;
    }
  }

  a {
    color: #46c8e1;
    text-transform: uppercase;
    padding: 8px;
    font-size: 16px;
  }

  // Showcase-cards-1180px Section
  .showcase-cards-1180px {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: absolute;
    right: 0;
    width: 50%;

    div {
      border: 1px solid rgba(0, 0, 0, 0.5);
      text-align: center;
      position: relative;
      // Media Query 750px
      @include mediaQuery(46.875em) {
        height: 199px;
        border-top: 1px solid rgba(0, 0, 0, 1);
      }

      // Media Query 1180px
      @include mediaQuery(73.75em) {
        height: 357px;
        border: 1px solid rgb(86, 87, 89);
        border-top: none;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      // Media Query 1180px
      @include mediaQuery(73.75em) {
        opacity: 0;
        transition: opacity 0.5s;
        position: absolute;
        left: 0;
      }
    }

    img:hover {
      // Media Query 1180px
      @include mediaQuery(73.75em) {
        opacity: 1;
      }
    }

    a {
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    span {
      position: absolute;
      font-size: 25.6px;
      color: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 1;

      // Media Query 750px
      @include mediaQuery(46.875em) {
        top: 80%;
        transform: translate(-50%, -80%);
      }
    }

    .third-span,
    .fourth-span {
      top: 30%;
      // transform: translate(-50%, -80%);
    }

    span:after {
      content: "+";
      position: absolute;
      top: 50%;
      right: 1em;
      transform: translate(0, -50%);
    }
  }

  // Showcase cards overlay
  .showcase-cards-1180px::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: block;
    min-height: calc(100vh - 62px - 190px);

    .showcase-1180px-flex {
      h1,
      p {
        margin: 0;
        margin-bottom: 20px;
        text-align: start;
      }

      p {
        margin-bottom: 4.5em;
      }

      .text-bg {
        padding: 0;
        padding-left: 5em;
      }
    }
  }
}

// Card Section
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  div {
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    height: 119px;
    // Media Query 750px
    @include mediaQuery(46.875em) {
      height: 199px;
      border-top: 1px solid rgba(0, 0, 0, 1);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  a {
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  span {
    position: absolute;
    font-size: 25.6px;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    // Media Query 750px
    @include mediaQuery(46.875em) {
      top: 80%;
      transform: translate(-50%, -80%);
    }
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    display: none;
  }
}

// Footer {
footer {
  background: #bbb;
  color: #555;
  display: flex;
  flex-direction: column;

  .footer-container-750px {
    display: none;
  }

  // Media Query for 750px
  @include mediaQuery(46.875em) {
    .footer-container {
      display: none;
    }

    .footer-container-750px {
      display: block;
    }
  }

  // Media Query for 1180px
  @include mediaQuery(73.75em) {
    padding: 20px 25px;
  }

  // Media Query for 1920px
  @include mediaQuery(120em) {
    padding: 20px 120px;
  }

  .footer-container {
    padding: 0 10px;

    // Email Us
    h3 {
      text-transform: uppercase;
      font-size: 12.8px;
      font-weight: bold;
      letter-spacing: 1px;
      padding-top: 20px;
      padding-bottom: 5px;
    }

    form {
      margin-bottom: 30px;
      input {
        padding: 6px;
        font-size: 12px;
        float: left;
        width: 82%;
        border: 1px solid #414141;

        // Media Query 500px
        @include mediaQuery(500px) {
          width: 66%;
        }
      }
      input:focus {
        border: 1.5px solid #84a5dc;
      }

      button {
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        background: #414141;
        border: none;
        float: left;
        padding: 3.84px;
        height: 29px;
        cursor: pointer;
        width: 18%;

        // Media Query 500px
        @include mediaQuery(500px) {
          width: 14%;
        }

        // Media Query 750px
        // @include mediaQuery(46.875em) {
        //   width: 17%;
        // }
      }
    }

    // Social Media Icons
    .flex {
      display: flex;
      flex-direction: row;
      padding-top: 16px;
      padding-bottom: 10px;

      // Media Query 750px
      // @include mediaQuery(46.875em) {
      //   padding-bottom: 20px;
      // }

      .fb-icon {
        background: url("/assets/fb.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .ig-icon {
        background: url("/assets/ig.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .yt-icon {
        background: url("/assets/yt.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .twitter-icon {
        background: url("/assets/twitter.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .flickr-icon {
        background: url("/assets/flickr.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .rss-icon {
        background: url("/assets/rss.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      // Social Media Icon while Hover
      .fb-icon:hover {
        background: url("/assets/fb-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .ig-icon:hover {
        background: url("/assets/ig-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .yt-icon:hover {
        background: url("/assets/yt-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .twitter-icon:hover {
        background: url("/assets/twitter-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .flickr-icon:hover {
        background: url("/assets/flickr-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }

      .rss-icon:hover {
        background: url("/assets/rss-a.png") no-repeat center center/contain;
        height: 33px;
        width: 33px;
        margin-right: 5px;
      }
    }

    // Country/Region
    .country-region {
      // Media Query 750px
      // @include mediaQuery(46.875em) {
      //   justify-self: end;
      // }

      h3 {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      img {
        padding: 2px;
        position: absolute;
        z-index: 1;
        height: 32px;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #888;
        background-image: none;
        flex: 1;
        padding: 0 0.5em;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        color: #222;

        select::-ms-expand {
          display: none;
        }
      }

      .select-box {
        position: relative;
        display: flex;
        width: 100%;
        height: 33px;
        padding: 6px;
        background: #888;
        overflow: hidden;
        padding-left: 55px;
        border: 1px solid #000;

        // Media Query 500px
        @include mediaQuery(500px) {
          width: 80%;
        }

        // Media Query 750px
        @include mediaQuery(500px) {
          width: 100%;
        }
      }
      .select-box::after {
        content: "\25BC";
        position: absolute;
        top: 0;
        right: 0;
        padding: 9px 15px;
        background: #424242;
        cursor: pointer;
        pointer-events: none;
        transition: 0.25s all ease;
        color: #fff;
        font-size: 12px;
      }

      option {
        width: 100%;
        background: #fff;
      }
    }
  }

  // Footer Container 750px Hidden by default
  .footer-container-750px {
    padding: 0 10px;

    .footer-container-750px-flex {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      div:first-child {
        grid-column: 1 /2;
      }

      div:nth-child(2) {
        grid-row: 2 /3;
      }

      // Email Us
      h3 {
        text-transform: uppercase;
        font-size: 12.8px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 20px;
        padding-bottom: 5px;
      }

      form {
        margin-bottom: 30px;
        input {
          padding: 6px;
          font-size: 12px;
          float: left;
          width: 83%;
          border: 1px solid #414141;

          // Media Query 500px
          @include mediaQuery(500px) {
            width: 66%;
          }
        }
        input:focus {
          border: 1.5px solid #84a5dc;
        }

        button {
          text-transform: uppercase;
          font-weight: bold;
          color: #fff;
          background: #414141;
          border: none;
          float: left;
          padding: 3.84px;
          height: 29px;
          cursor: pointer;
          width: 18%;

          // Media Query 500px
          @include mediaQuery(500px) {
            width: 14%;
          }

          // Media Query 750px
          @include mediaQuery(46.875em) {
            width: 18%;
          }
        }
      }

      // Social Media Icons
      .flex {
        display: flex;
        flex-direction: row;
        padding-top: 16px;
        padding-bottom: 10px;

        // Media Query 750px
        @include mediaQuery(46.875em) {
          padding-bottom: 20px;
        }

        .fb-icon {
          background: url("/assets/fb.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .ig-icon {
          background: url("/assets/ig.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .yt-icon {
          background: url("/assets/yt.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .twitter-icon {
          background: url("/assets/twitter.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .flickr-icon {
          background: url("/assets/flickr.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .rss-icon {
          background: url("/assets/rss.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        // Social Media Icon while Hover
        .fb-icon:hover {
          background: url("/assets/fb-a.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .ig-icon:hover {
          background: url("/assets/ig-a.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .yt-icon:hover {
          background: url("/assets/yt-a.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .twitter-icon:hover {
          background: url("/assets/twitter-a.png") no-repeat center
            center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .flickr-icon:hover {
          background: url("/assets/flickr-a.png") no-repeat center
            center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }

        .rss-icon:hover {
          background: url("/assets/rss-a.png") no-repeat center center/contain;
          height: 33px;
          width: 33px;
          margin-right: 5px;
        }
      }

      // Country/Region
      .country-region {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;

        h3 {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        img {
          padding: 2px;
          position: absolute;
          z-index: 1;
          height: 32px;
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          appearance: none;
          outline: 0;
          box-shadow: none;
          border: 0 !important;
          background: #888;
          background-image: none;
          flex: 1;
          padding: 0 0.5em;
          color: #fff;
          cursor: pointer;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          color: #222;

          select::-ms-expand {
            display: none;
          }
        }

        .select-box {
          position: relative;
          display: flex;
          width: 100%;
          height: 33px;
          padding: 6px;
          background: #888;
          overflow: hidden;
          padding-left: 55px;
          border: 1px solid #000;

          // Media Query 500px
          @include mediaQuery(500px) {
            width: 80%;
          }

          // Media Query 750px
          @include mediaQuery(46.875em) {
            width: 100%;
          }
        }
        .select-box::after {
          content: "\25BC";
          position: absolute;
          top: 0;
          right: 0;
          padding: 9px 15px;
          background: #424242;
          cursor: pointer;
          pointer-events: none;
          transition: 0.25s all ease;
          color: #fff;
          font-size: 12px;
        }

        option {
          width: 100%;
          background: #fff;
        }
      }

      // Media Query for 1180px
      @include mediaQuery(73.75em) {
        grid-template-columns: 365px 365px 1fr;

        div:first-child {
          grid-column: 1 /2;

          form input {
            width: 75%;
          }

          form input,
          button {
            height: 32px;
          }
        }

        div:nth-child(2) {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          padding: 0;
          align-self: end;
        }

        .country-region {
          grid-column: 3 / 4;
        }
      }
    }
  }

  // About/ Products & Service/ Shop By/ Resources/ Customer Support
  .dropdown-flex {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    // Media Query 750px
    @include mediaQuery(46.875em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    // Media Query 1180px
    @include mediaQuery(73.75em) {
      display: grid;
      grid-template-columns: repeat(5, 16%);
    }

    img {
      position: relative;
    }

    span {
      position: absolute;
      text-transform: uppercase;
      font-size: 12.8px;
      font-weight: bold;
      padding-left: 5px;
      padding-top: 3px;
    }

    .dropdown {
      border-top: 1px solid #000;
      padding: 15px 20px;
      cursor: pointer;

      // Media Query 750px
      @include mediaQuery(46.875em) {
        border-top: none;
      }
    }

    .dropdown-content {
      display: none;

      .dropdown-content-flex {
        display: flex;
        flex-direction: column;
        padding: 10px 25px 0;
      }

      a {
        color: #373737;
        text-transform: capitalize;
        font-size: 12.8px;
        padding-bottom: 5px;
        transition: all 200ms ease-in-out;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  // All rights reserved section
  .all-rights-reserved-flex {
    font-size: 11.2px;
    color: #373737;
    border-top: 1px solid #000;
    padding: 10px 21px 168px;

    p {
      margin-bottom: 7px;
    }
    .break {
      flex-basis: 100%;
      height: 0;
    }

    // Media Query 750px
    @include mediaQuery(46.875em) {
      border-top: none;
      padding: 0 20px;
    }

    // Media Query 1180px
    @include mediaQuery(73.75em) {
      p {
        margin-right: 10px;
      }
      .break {
        display: none;
      }
    }

    .flex {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 8px;
    }

    a {
      color: #373737;
      margin: 0 13px 8px 0;
      text-decoration: underline;
    }
  }
}
